**/node_modules
**/.next
**/.turbo
**/dist
**/build
**/coverage
**/.cache
**/.git
**/.github
**/.husky
**/.vscode
**/.idea
**/.env
**/.env.*
!**/.env.example
!**/.env.template
**/playwright-report
**/test-results
**/storybook-static
**/*.tsbuildinfo
**/*.log
.DS_Store
Thumbs.db
docs
infra/terraform
infra/monitoring
README.md
LICENSE
